/ = stylesheet_link_tag 'posts', media: 'all', 'data-turbolinks-track': 'reload'
<link rel="stylesheet" href="/assets/posts.scss"> 

<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>

textarea#comment-md name="comment" placeholder=("Say something...") 
br/
#comment-md-preview-container
#comment-md-preview.well.well-sm.well-light.md-preview.margin-top-10
