@import "bootstrap";
@import 'font_awesome5_webfont';
@import 'font_awesome5.css';

* { padding: 0; margin: 0; }

.theme-light {
  --color-primary: white;
  --color-secondary: #d9d9d99e;
  --color-accent: #F8F9FA;
  --font-color: #000000;
  --second-font-color: #343a40;
}
.theme-dark {
  --color-primary: #181818;
  --color-secondary: #2a2c2d;
  --color-accent: #212121;
  --font-color: #ffffff;
  --second-font-color: #bac9d8;
}
.main-color {
  background-color: var(--color-primary);
}
.second-color {
  background-color: var(--color-secondary);
}
.site-panel-color {
  background-color: var(--color-accent);
}
* {
  color: var(--font-color);
}
nav * {
  color: var(--font-color) !important;
}
.text-dark {
  color: var(--second-font-color) !important;
}
a.text-dark:hover, a.text-dark:focus {
  color: var(--second-font-color) !important;
}
.dropdown-menu {
  background-color: var(--color-secondary);
}
.dropdown-item:hover {
  background-color: var(--color-primary);
}



html, body, #fullheight {
  min-height: 100% !important;
  height: 100%;
}
#fullheight {
  width: 250px;
  background: blue;
}

.dynamic-content {
  padding: 0px 10px;
}

.main-content {
  min-height: 95%;
  overflow: auto;
  text-align: justify;
}

.overlay-text {
  padding: 140px 10px;
  text-shadow: 0 4px 8px black;
  font-size: 1.3em;
  line-height: 30px;
}
.overlay-text * {
  color: white !important;
}

.users_grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(6, 40px);
  grid-row-gap: 8px;
  grid-column-gap: 6px;
  height: 100%;
}

.alert {
  padding: 0;
  margin: 0;
  border: 0px solid transparent;
  text-align: center;
}

.site-footer {
  bottom: 0;
  color: #707070;
  height: 2em;
  left: 0;
  position: static;
  font-size: small;
  width:100%;
}

[class^="border"] {
  background-color: var(--color-primary);
}

.buttons-wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 1em;
  padding: 10px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: white url('https://i.ibb.co/FxzBYR9/night.png');
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}