@import "bootstrap";
@import 'font_awesome5_webfont';
@import 'font_awesome5.css';

* { padding: 0; margin: 0; }

html, body, #fullheight {
    min-height: 100% !important;
    height: 100%;
}
#fullheight {
    width: 250px;
    background: blue;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  grid-auto-rows: 240px;
  padding: 1em;
}

.wrapper > div {
  position: relative;
  background-color: F8F9FA;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}

.wrapper div img {
  opacity: 0.8;
  width: 100%;
}

.wrapper div img, .overlay-text {
  position: absolute;
}

.overlay-text {
  padding: 140px 10px;
  color: white;
  text-shadow: 0 4px 8px black;
  font-size: 2.3em;
  line-height: 30px;
}

.users_grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(6, 40px);
  grid-row-gap: 8px;
  grid-column-gap: 6px;
  height: 100%;
}

.alert {
  padding: 0;
  margin: 0;
}

.site-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

[class^="border"] {
  background-color: #f5f5f5;
}