@import "bootstrap";
@import 'font_awesome5_webfont';
@import 'font_awesome5.css';

* { padding: 0; margin: 0; }

html, body, #fullheight {
    min-height: 100% !important;
    height: 100%;
}
#fullheight {
    width: 250px;
    background: blue;
}

.main-color {
  background-color: white;
}

.second-color {
  background-color: #d9d9d99e;
}

.site-panel-color {
  background-color: #F8F9FA;
}

.dynamic-content {
  padding: 24px 10px;
}

.main-content {
  min-height: 96%;
  overflow: auto;
  text-align: justify;
}

.overlay-text {
  padding: 140px 10px;
  color: white;
  text-shadow: 0 4px 8px black;
  font-size: 2.3em;
  line-height: 30px;
}

.users_grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(6, 40px);
  grid-row-gap: 8px;
  grid-column-gap: 6px;
  height: 100%;
}

.alert {
  padding: 0;
  margin: 0;
  border: 0px solid transparent;
  text-align: center;
}

.site-footer {
  bottom: 0;
  color: #707070;
  height: 2em;
  left: 0;
  position: static;
  font-size: small;
  width:100%;
}

[class^="border"] {
  background-color: #f5f5f5;
}